body {margin: 0;padding: 0;font-size: 16px;;font-family: 'Roboto';background-color: #f0f4f8;}
.mainConatiner {background-color: #e0f7fa29; max-width: 600px;margin: 0 auto;border: 1px solid #efefef; box-shadow: 0px 0px aliceblue;}
h1 {border: 1px solid hsl(0, 0%, 94%);width: fit-content; margin: 20px auto;padding: 10px 25px;background-color: green;color: #fff;font-size: 18px; text-transform: uppercase;}
header {border-bottom: 1px solid #8080803d;box-shadow: -1px 5px 6px 0px #e2dcdc82;position: sticky;top: 0; z-index: 1; overflow: hidden; background-color: #fff;margin-bottom:20px;}
.mainDiv a ,.mainDiv a:focus-visible {display: inline-block;padding: 8px 10px; border: 0.5px solid green;min-width: 70px;text-align: center;text-decoration: none;font-size: 14px;background-color: #fff;color: green;border-radius: 5px;transition: 0.3s ease-out}
.mainDiv a:hover { background-color: green;color: #fff; transition: 0.3s ease-in;}
.mainDiv ul {background-color:#fff;border-radius: 10px;border: 0.5px solid green; margin: 0 auto 1rem;max-width: 600px;padding: 20px 20px;}
.mainDiv ul li:first-child {padding-top: 0;}
.mainDiv ul li{ font-size: 14px; border-bottom: 1px solid #ccc;padding:20px 0;}
.mainDiv ul li:last-child{border-bottom: 0px; padding-bottom: 0;}
.selectedUrl{ padding: 20px 20px;border: 0.5px solid green;background-color: #fff;height: 100%;border-radius: 10px;max-width: 80%;text-align: center; margin: 60px auto 0;}
.selectedUrl a{color: #fff;background-color: green;padding: 5px 10px;display:block; width:fit-content;margin: 0 auto 10px; }
.selectedUrl a:hover{color: green;background-color: #fff;}
.selectedUrl .backLink {background-color: transparent;color: green; border: 0px;font-size: 12px;cursor: pointer;text-decoration: underline;}
.selectedUrl .backLink:hover {transform: scale(1.1);transition: transform 0.2s ease-in-out;color: green;font-weight: 600;}
.backLink[disabled], .backLink[disabled]:hover {opacity: 0.5;transform:none;transition:none;cursor: not-allowed;}
.selectedUrl p{margin-bottom: 10px;}
body::-webkit-scrollbar {width:0px;}
@media screen and (min-width:1280px) {
  .mainDiv a ,.mainDiv a:focus-visible{min-width: 100px; font-size: 16px;padding:10px;outline:green;}
  .mainDiv ul li{ font-size: 16px; }
  .selectedUrl{max-width: 600px;padding: 40px 20px;}
  h1 {padding: 15px 40px;font-size: 24px;}
}